
/*FULL WEB CSS FORMATTING*/

html, head, body{
    margin: 0; 
    align-content: center;
    position: relative; 

    font-family: "Carrois Gothic"; 
    font-variant-caps: all-small-caps;

    background-color: #3a4663; 
}

/*HEADER TYPES*/
h1{
    font: "Carrois Gothic"; 
    font-variant-caps: all-small-caps; 
    font-size: 40px; 
    color: white;  

    background-color: #3a466381; 
}

h2{
    font: "Carrois Gothic"; 
    font-variant-caps: all-small-caps; 
    font-size: 35px; 
    color: white;  

    background-color: #c9af98; 
}

h3{
    text-align: center; 

    font: "Carrois Gothic"; 
    font-variant-caps: all-small-caps; 
    font-size: 30px; 
    color: white; 
    
    background-color: #c9af98; 
}

h4{
    text-align: center; 

    font: "Carrois Gothic"; 
    font-variant-caps: all-small-caps; 
    font-size: 25px; 
    color: white; 
    
    background-color: #3a4663; 
}

p{
    text-align: center; 

    font: "Carrois Gothic"; 
    font-variant-caps: all-small-caps; 
    font-size: 20px; 
    color: black; 
    
    background-color: #c9af98; 
}

p:visited{
    color: #845007; 
}

p:hover, p:active{
    color: #161748; 
}

/*COMMON CLASSES*/
.container{
    margin: 0px auto; 
    position: relative; 
    width: 900px; 
    
    background-color: #3a4663; 
}

.images{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%; 
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
  }  

.input_box{
    text-align: center;
    display: inline; 
    height: 50px; 
    width: 150px;  

    font: "Carrois Gothic"; 
    font-variant-caps: all-small-caps; 
    font-size: 20px; 
    font-style: italic; 
    color: white; 
    
    background-color: #101357;
    border-color: white;
    border-style: double; 
    border-width: 3px;
}

.buttons{
    text-align: center; 
    display: inline; 
    height: 50px; 
    width: 150px; 

    font: "Carrois Gothic"; 
    font-variant-caps: all-small-caps; 
    font-size: 25px; 
    font-weight: bold; 
    color: white; 

    background-color: #845007;
    border-color: white; 
    border-style: double;
    border-width: 3px;
    
}

.header-navbar{
    width: 90px; 
    background-color: #3a4663; 
}

.header-navbar a{
    display: block; 
    text-align: center; 
    padding: 16px; 
    transition: all 0.3s ease; 
    color: white; 
    font-size: 36px; 
}

.header-navbar a:hover{
    background-color: #c9af98; 
}

.footer-navbar{
    width: 90px; 
    background-color: #3a4663;
}

.footer-navbar a{
    display: block; 
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease; 
    color: white; 
    font-size: 36px; 
    margin-top: 20px;
}

.footer-navbar a:hover{
    background-color: #c9af98
}

.active{
    background-color: #ed8a63; 
}



